<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Ferrari SpA (/ f ə ˈ r ɑːr i / italyancha:  [ferˈraːri]) — Italiyaning Maranello shahrida joylashgan hashamatli sport avtomobillari ishlab chiqaruvchi kompaniya. 1939-yilda Enzo Ferrari tomonidan Alfa Romeo poyga boʻlimidan Auto Avio Costruzioni nomi bilan asos solingan kompaniya hisoblanadi. Kompaniya 1940-yilda birinchi mashinasini ishlab chiqargan va 1947-yilda oʻzining birinchi Ferrari nishonli avtomobilini ommaga namoyish qilgan.

        Ferrari S.p.A.
        
        
        Turi	Jamoa SpA
        Xizmatlari	Avtomobilsozlik
        Egasi	Ferrari N.V.[1]
        Birja listingi	
        Exor NV (22,91%) Piero Ferrari (10,00%)
        
        Ommaviy (67,09%)
        Qachon asos solingan	1939-yil 13-sentabr
        Hududiy xizmati	Dunyo bo'ylab
        Asoschi(lari)	Enzo Ferrari
        Rahbariyat	
        Jon Elkann (rais) Benedetto Vigna (bosh direktor)
        
        Piero Ferrari (rais oʻrinbosari)
        Mahsulot(lar)i	Sport avtomobillari
        Budjeti	3,767 milliard yevro (2019)
        Daromadi	917 million yevro (2019)
        Aylanma daromadi	52,21 milliard yevro (2021)
        Operatsion foydasi	1 070 000 000
        Boyligi	6 860 000 000
        Kapitallashtirish	1,487 milliard yevro (2019)
        Sof foydasi	699 million yevro (2019)
        Aʼzolari	4556 nafar (2020)
        Vebsayti	https://www.ferrari.com/
        Fiat SpA 1969-yilda Ferrarining 50% ulushini sotib oldi va 1988-yilda oʻz ulushini 90% gacha kengaytirdi.  2014-yil oktabr oyida Fiat Chrysler Automobiles (FCA) (Wayback Machine saytida 2023-01-25 sanasida arxivlangan) Ferrari SpAʼni FCAʼdan ajratish niyatini eʼlon qildi. eʼlonga koʻra, FCA Ferrarining 90% ga egalik qiladi[2][3].  Ajralish 2015-yil oktabr oyida Ferrari NV ni (Niderlandiyada roʻyxatga olingan kompaniya) Ferrari SpA guruhining yangi xolding kompaniyasi sifatida tashkil etgan. Ajralishning qolgan bosqichlari orqali FCA ning Ferrari biznesidagi aktsiyalari FCA aktsiyadorlariga taqsimlandi, 10% esa Piero Ferrari ga tegishli boʻlishda davom etdi[4][5].  Spin-off 2016-yil 3-yanvarda yakunlandi[6].
        
        Kompaniya oʻzining butun tarixi davomida poygadagi doimiy ishtiroki bilan, ayniqsa, eng qadimgi va eng muvaffaqiyatli poyga jamoasi boʻlgan, eng koʻp konstruktorlar chempionatlarini (16) oʻtkazgan va eng koʻp haydovchilari Formula 1 poygalarida doimiy ishtiroki bilan tanilgan kompaniyadir. Formula 1 poygalarida 15 dan ziyod gʻalabaga erishgan[7]. Ferrari avtomobillari odatda tezlik, hashamat va boylik ramzi sifatida koʻriladi[8].  Ferrari avtomobillari 165 000 kvadrat metr (16,5 gektar) Maranello zavodida ishlab chiqariladi.  2014-yilda Ferrari Brand Finance tomonidan dunyodagi eng kuchli brend deb topildi[9].  2018-yil iyun oyida 1963-yilgi 250 GTO 70 million dollarga sotilib, tarixdagi eng qimmat avtomobilga aylandi[10][11].  2021-yil holatiga koʻra, Ferrari 52,21 milliard dollar bilan bozor kapitallashuvi boʻyicha 10-yirik avtomobil ishlab chiqaruvchisi hisoblanadi[12].
        
        Tarixi
        
        Enzo Ferrari va uning ortida Ferrari ramzi Kavallino Rampante
        1929-yilda Enzo Ferrari shtab-kvartirasi Modenada joylashgan Scuderia Ferrari kompaniyasini tashkil qilgan. U dastlab yoʻl avtomobillarini ishlab chiqarish gʻoyasiga qiziqmagan edi. Scuderia Ferrari (talaffuz[skudeˈriːa]) soʻzma-soʻz „Ferrari barqaror“ degan maʼnoni anglatadi va odatda „Ferrari jamoasi“ maʼnosida ishlatiladi. Ferrari janob haydovchilar uchun Alfa Romeo poyga avtomobillarini oldi va maydonga tushirdi 1933-yilda Alfa Romeo oʻzining ichki poyga jamoasini tark etdi va Scuderia Ferrari uning ishchi guruhini egalladi[13]. Scuderia Alfaning eng soʻnggi texnik xususiyatlariga ega Gran-pri avtomobillarini oldi va Tazio Nuvolari va Axille Varzi kabi koʻplab mashhur haydovchilarni maydonga tushirdi. 1938-yilda Alfa Romeo yana oʻzining poyga faoliyatini oʻz ichiga olib, Alfa Corseni tashkil etdi. Milanda va Enzo Ferrarini yangi poyga boʻlimi menejeri sifatida yolladi. shu bilan Scuderia Ferrari tarqatib yuborildi[14].
        
        1939-yil sentabr oyida Ferrari kamida toʻrt yil davomida poyga yoki poyga avtomobillari bilan bogʻliq holda Ferrari nomini ishlatmaslik sharti bilan Alfa Romeoni tark etdi[15].  Bir necha kundan keyin uning shtab-kvartirasi eski Scuderia Ferrari zavodlarida joylashgan Auto Avio Costruzioni kompaniyasiga asos soldi.1940-yilda Ferrari Fiat platformasi asosidagi Tipo 815v poyga avtomobilini ishlab chiqara boshladi. Bu birinchi Ferrari avtomobili edi va 1940-yilda Mille Migliada debyut qilgan, ammo Ikkinchi Jahon urushi tufayli u kam raqobatga ega edi. 1943-yilda Ferrari zavodi Maranelloga koʻchib oʻtdi, oʻshandan beri zavod shu shaharda qoldi. Zavod Ittifoqchilar tomonidan bombardimon qilingan va keyinchalik qayta qurilgan.
        
        
        Ferrari 125 S rusumi
        Birinchi Ferrari nishoniga ega avtomobil 1947-yil 125 S boʻlib, 1,5 L V12 dvigateli bilan jihozlangan. Enzo Ferrari hohlamagan holda Scuderia Ferrari kompaniyasini moliyalashtirish uchun oʻz avtomobillarini yasadi va sotdi[16].
        
        Scuderia Ferrari nomi zavod poyga mashinalarini ifodalash va ularni mijozlar guruhlari tomonidan ishlab chiqarilgan avtomobillardan ajratib turish uchun qayta tiklandi[17].
        
        1960-yilda kompaniya SEFAC SpA (Società Esercizio Fabbriche Automobili e Corse) nomi ostida davlat korporatsiyasi sifatida qayta tuzilgan[18].
        
        1969-yil boshida Fiat Ferrari’ning 50% ulushini oldi. Toʻgʻridan-toʻgʻri natija mavjud investitsiya mablagʻlarining koʻpayishi boʻldi va ishlab chiqarishni Fiatning Turindagi zavodidan Ferrari dvigatelli Fiat Dino oʻtkazish uchun moʻljallangan zavodni kengaytirish boʻyicha ishlar darhol boshlandi. Ferrari qatoriga yangi model investitsiyalari ham oʻsdi.
        
        
        Ferrari 166MM Barchetta
        1988-yilda Enzo Ferrari Ferrari F40 ning chiqarilishini nazorat qildi. Oʻsha yilning oxirida vafotidan oldin chiqarilgan soʻnggi yangi Ferrari edi. 1989-yilda kompaniya Ferrari SpA deb qayta nomlandi[19]. 2002-yildan 2004-yilgacha Ferrari oʻsha paytdagi eng tezkor modeli boʻlgan Enzo ni ishlab chiqardi. U taqdim etilgan va kompaniya asoschisi Enzo Ferrari sharafiga nomlangan. U F40 va F50 dan davom etuvchi F60 deb nomlanishi kerak edi, lekin ular uni Enzo deb atashdi. Dastlab u sodiq va doimiy mijozlarga taklif qilingan, har bir 399 dona (Vatikanga xayriya uchun berilgan 400 ta avtomobildan tashqari) narxi 650 000 dollarni tashkil etgan.
        
        2012-yilning 15-sentabrida qiymati 162 million dollardan ortiq boʻlgan 964 ta Ferrari avtomobili Silverstoun trassasida boʻlib oʻtgan Ferrari Driving Days tadbirida qatnashdi va Silverstoun trassasida jahon rekordini oʻrnatdi[20].
        
        Ferrarining sobiq bosh direktori va raisi Luka Di Montezemolo 23 yildan soʻng kompaniyadan isteʼfoga chiqdi. Uning oʻrniga Amedeo Felisa keldi va nihoyat, 2016-yil 3-mayda Amedeo isteʼfoga chiqdi va uning oʻrniga Ferrari kompaniyasining bosh direktori va Ferrari kompaniyasi raisi Serxio Markionne keldi. 2018-yil iyul oyida Markionne oʻrniga boshqaruv kengashi aʼzosi Lui Kamilleri bosh direktor, Jon Elkann esa rais etib tayinlandi[21]. 2014-yil 29-oktyabrda Fiat va Chrysler ishlab chiqaruvchilari oʻrtasidagi qoʻshilish natijasida yuzaga kelgan FCA guruhi oʻzining hashamatli brendi Ferrari ning boʻlinishini eʼlon qildi. Maqsad Ferrarini mustaqil brendga aylantirish edi. Uning ulushi 2015-yilda IPOda sotildi[22]. Ferrari 2015-yil 20-oktabrda bozor yopilgandan soʻng oʻzining dastlabki ommaviy taklifini rasman 52 dollarga baholadi[23].
        
        2020-yil 10-dekabrda bosh direktor Lui Kamilleri bosh direktor lavozimini tark etishini va rais Jon Elkann doimiy voris tanlanmaguncha vaqtinchalik bosh direktor lavozimiga kirishishini eʼlon qildi[24].
        
        2021-yil 9-iyun kuni kompaniya sentabr oyidan boshlab Jenevada joylashgan STMicroelectronics kompaniyasidan Benedetto Vigna oʻzining navbatdagi bosh direktori etib tayinlanganini eʼlon qildi[25].
        
        Prezidentlar
        Enzo Ferrari (1939—1977)
        Nikola Tufarelli (1978—1980)
        Jovanni Sguazzini (1980—1984)
        Vittorio Ghidella (1984—1988)
        Pietro Fusaro (1988—1991)
        Luka Kordero Di Montezemolo (1991—2014)
        Serxio Markionne (2014—2018)
        Lui Kamilleri (2018—2020)
        Jon Elkann (2020—2021)
        Benedetto Vigna (2021)
        Avtosport
        Kompaniya boshlanganidan beri avtosport bilan shugʻullanib, bir qator toifalarda, jumladan, Formula 1 va sport avtomobillari poygasida oʻzining Scuderia Ferrari sport boʻlinmasi orqali, shuningdek, boshqa jamoalarga avtomobillar va dvigatellarni yetkazib berish va bir martalik poyga seriyalarida qatnashib keladi.
        
        1940-yil AAC 815 Enzo Ferrari tomonidan ishlab chiqilgan birinchi poyga mashinasi boʻldi, garchi u Ferrari modeli sifatida nishonlanmagan boʻlsa ham.
        
        
        Ferrari 312 T2
        Scuderia Ferrari
        Scuderia Ferrari avtosportning bir nechta toifalarida qatnashgan, garchi u hozirda faqat rasmiy ravishda Formula 1da qatnashmoqda. Bu 1950-yilda tashkil etilganidan buyon Formula 1 jahon chempionatida doimiy ravishda qatnashgan yagona jamoadir. Xose Froilan Gonsales 1951-yil Britaniya Gran-prisida jamoaga F1 boʻyicha birinchi gʻalabasini keltirdi.
        
        Alberto Askari bir yil oʻtib Ferrariga birinchi haydovchilar chempionatini taqdim etdi. Ferrari chempionatdagi eng keksa va eng muvaffaqiyatli jamoadir. Bu jamoa deyarli barcha Formula 1 rekordlariga ega. 2014-yil holatiga koʻra, jamoaning rekordlari 15 ta haydovchilar boʻyicha jahon chempionati, 16 ta konstruktorlar oʻrtasidagi jahon chempionati, 221 ta Gran-pri gʻalabasi, 679 ta shohsupaga chiqish, 207 ta pole pozitsiyasi va 890 ta Grand Prixda 230 ta eng tez aylanishlarni oʻz ichiga oladi. 2014 -yilda foydalanilgan 19 ta trekdan 8 tasi F2004, yana 3 tasi F2003-GA , F2008 va F10 tomonidan oʻrnatilgan davra rekordlariga ega.
        
        
        errari F2003-GA
        
        Ferrari 512 BB LM 2
        Ferrari haydovchilari orasida: Tazio Nuvolari , Xose Froilan Gonsales , Xuan Manuel Fanjio , Alberto Askari , Luidji Chinetti , Eugenio Kasteletti , Moris Trintignant , Volfgang fon Trips , Fil Xill , Olivye Gendexen , Piter Xillin , Ginkarindo, Piter Xilix, Ritsian , Piter Xillin , Amon , Jon Surtees , Lorenzo Bandini , Ludoviko Skarfiotti , Jeki Ickx ,Mario Andretti , Kley Regazzoni , Niki Lauda , ​​Karlos Roytemann , Jodi Shekter , Gilles Vilnev , Dide Pironi , Patrik Tambay , Rene Arnoux , Mishel Alboreto , Gerxard Berger , Nayjel Mansel , Maykl Jeylo Barbenst , Maykl Jeylo Albens , Alain Albens , Felipe Massa , Kimi Raikkönen , Fernando Alonso ,Sebastyan Fettel , Charlz Lekler va kichik Karlos Sayns kabi mahoratli Ferrari haydovchilari bor.
        
        2006-yilgi mavsum oxirida jamoa boshqa F1 jamoalari bilan birga tamaki ishlab chiqaruvchilari bilan homiylik shartnomalarini tugatishga vaʼda berganidan keyin Marlboroga ularga homiylik qilishiga ruxsat berishda davom etib, tortishuvlarga sabab boʻldi. Besh yillik shartnomaga kelishib olindi va bu 2011-yilgacha tugamasa ham, 2008-yil aprel oyida Marlboro oʻzining Ferrari avtomobil markasidan voz kechdi.
        
        Formula 1 dan tashqari, Ferrari koʻp yillar davomida parallel ravishda mavjud boʻlgan ikki dastur sportkar poygalarida ham mashinalar bilan shugʻullangan.
        
        1949-yilda Luidji Chinetti 166 M tezlikda Ferrarining avtosport boʻyicha birinchi gʻalabasi — Le Manda 24 soatlik gʻalabaga erishdi. Ferrari 1953-yilda tashkil etilgan sport avtomobillari boʻyicha Jahon chempionatining dastlabki yillarida ustunlik qildi va oʻzining dastlabki toʻqqiz yilidan etti yil davomida chempionlikni qoʻlga kiritdi.
        
        1962-yilda chempionat formati oʻzgarganda, Ferrari 1965-yilgacha va 1967-yilgacha har yili kamida bitta toifada unvonlarni qoʻlga kiritdi. Enzo 1973-yildan keyin sport avtomobillari poygasini tark etishga va Scuderia Ferrariga faqat Formula 1ga eʼtibor qaratishga ruxsat berishga qaror qilishidan oldin 1972-yilgi Makes jahon chempionatida Ferrari bitta yakuniy chempionlikni qoʻlga kiritdi.
        
        Ferrari sport avtomobillari boʻyicha jahon chempionati mavsumlarida ular Le Manning 24 soatida koʻproq gʻalaba qozonishdi, zavod jamoasi esa 1954-yilda birinchi marta gʻalaba qozondi. Soʻng, 1960-yildan 1964-yilgacha ketma-ket beshta gʻalabaga erishildi. Luiji Chinetti boshchiligidagi Shimoliy Amerika poyga jamoasi (NART) Ferrari 1965-yilda Le Mansdagi soʻnggi gʻalabasini qoʻlga kiritdi.
        
        Garchi Scuderia Ferrari 1973-yildan keyin sport avtomobillarida qatnashmagan boʻlsa-da, ular vaqti-vaqti bilan xususiy shaxslar uchun turli xil muvaffaqiyatli sport avtomobillarini yasadilar. Bularga 1970-yillarda 512 BB LM , 1990-yillarda IMSA GT chempionatida gʻolib chiqqan 333 SP va hozirda oʻz sinflarida chempionlikni qoʻlga kiritayotgan 458 GT2 va GT3 kiradi.
        
        Boshqa jamoalar uchun poyga avtomobillari
        Oʻzining butun tarixi davomida Ferrari oʻzining Scuderia Ferrari jamoasidan tashqari, boshqa ishtirokchilarga poyga avtomobillarini yetkazib bergan.
        
        1950-1960-yillarda Ferrari bir qator xususiy ishtirokchilar va boshqa jamoalarga Formula 1 avtomobillarini yetkazib bergan. Mashhur misollardan biri Toni Vandervell jamoasi boʻlib, ular oʻzlarining Vanwall avtomobillarini yaratishdan oldin Thinwall Special oʻzgartirilgan Ferrarilar bilan poygaga chiqishgan. Shimoliy Amerika poyga jamoasining 1969-yilgi mavsumning soʻnggi uch raundidagi ishtiroklari Scuderia Ferraridan boshqa jamoaning Ferrari avtomobili bilan Jahon chempionati Gran-prisiga kirishining soʻnggi holatlari edi[26].
        
        Ferrari 2008-2009-yilgi mavsumdan boshlab A1 Grand Prix seriyasi uchun V8 dvigatellari bilan toʻla avtomobillarni yetkazib berdi[27].  Mashina Rori Birn tomonidan ishlab chiqilgan va 2004-yilgi Ferrari Formula 1 mashinasiga oʻxshab yaratilgan.
        
        Ferrari hozirda oʻzining 458-poyga versiyasi uchun mijoz GT dasturini ishga tushiradi va buni 1990-yillarning oxiridagi 355-dan oldingi 458-ning oʻtmishdoshlari uchun amalga oshirdi. American Risi Competizione va Italiyaning AF Corse jamoalari kabi xususiy jamoalar Ferrari GT poygachilari bilan yillar davomida juda muvaffaqiyatli boʻlishdi. Audi R8 , McLaren MP4-12C va BMW Z4 (E89) ning bunday poyga versiyalari bilan raqobat qilish uchun chidamli sport avtomobillari poygasi uchun ishlab chiqarilgan ushbu avtomobil muvaffaqiyatli boʻldi, ammo oʻzidan oldingi F430 kabi muvaffaqiyatli emas. Ferrari Challenge — bu Ferrari 458 uchun bir martalik poyga seriyasidir. TheFXX yoʻl harakati uchun qonuniy emas va shuning uchun faqat trek voqealari uchun ishlatiladi.
        
        Avtomobillari
        
        1947-yilgi Ferrari 166 Inter Touring Berlinetta
        Ferrari nomi bilan ishlab chiqarilgan birinchi avtomobil 125 S edi. Ushbu kichik ikki oʻrindiqli sport/poyga V12 avtomobilidan faqat ikkitasi ishlab chiqarilgan. 1949-yilda 166 Inter taqdim etildi, bu kompaniyaning yirik sayohat avtomobillari bozoriga sezilarli qadam qoʻyganini anglatadi. Birinchi 166 Inter Carrozzeria Touring Superleggera tomonidan ishlab chiqilgan kuzovli toʻrt oʻrindiqli (2+2) berlinetta kupesi edi. Yoʻl avtomobillari tezda Ferrari sotuvining asosiy qismiga aylandi.
        
        Dastlabki Ferrari avtomobillarida, odatda, Pininfarina, Scaglietti, Zagato, Vignale va Bertone kabi mustaqil murabbiylar tomonidan ishlab chiqilgan va moslashtirilgan kuzovlar mavjud edi.
        
        Asl yoʻl avtomobillari odatda ikki oʻrindiqli old dvigatelli V12lar edi. Ushbu platforma 1950-1960-yillar davomida Ferrariga juda yaxshi xizmat qilgan. 1968 -yilda Dino birinchi ikki oʻrindiqli orqa oʻrta dvigatelli Ferrari sifatida taqdim etildi. Dino asosan V6 dvigateli bilan ishlab chiqarilgan, ammo V8 modeli ham ishlab chiqilgan. Ushbu orqa oʻrta dvigatel tartibi 1980-1990-yillar va hozirgi kungacha koʻplab Ferrarilarda qoʻllanila boshlandi. Hozirgi yoʻl avtomobillari odatda V8 yoki V12 dvigatellaridan foydalanadi, V8 modellari markaning umumiy ishlab chiqarishining yarmidan koʻprogʻini tashkil qiladi. Tarixan Ferrari ham yassi 12 dvigatel ishlab chiqargan.
        
        Bir muncha vaqt Ferrari oʻrta dvigatelli V8 avtomobillarining (2+2) versiyasini yaratdi. Garchi ular 2 oʻrindiqli hamkasblaridan ancha farq qilsa ham, GT4 va Mondial ham 308 GTB bilan chambarchas bogʻliq edi.
        
        
        Ferrari Berlinetta Boxer
        Ferrari 1973-yilda Berlinetta Boxer bilan oʻrta dvigatelli 12 silindrli jangga kirdi. Keyinchalik Testarossa (shuningdek, oʻrta dvigatelli 12 silindrli) barcha davrlardagi eng mashhur va mashhur Ferrari yoʻl avtomobillaridan biri boʻlib qolmoqda.
        
        Kompaniya, shuningdek, bir nechta old dvigatelli (2+2) avtomobillarini ishlab chiqardi, ular yaqinda V12 modeli Lusso va V8 modellari Roma , Portofino va Lusso T bilan yakunlandi. Kaliforniya V8 old dvigatelli (2+2) grand touring sport avtomobillarining mashhur joriy model liniyasini boshlaganligi bilan mashhur.
        
        2010-yillarning boshidan LaFerrari bilan boshlab, eʼtibor mustaqil murabbiy quruvchilardan foydalanishdan chetga chiqib, hozirgi standartga aylantirildi, Ferrari oʻzining barcha yoʻl avtomobillari dizayni uchun Centro Stile Ferrarining ichki dizayniga tayandi.
        
        Moslashtirish
        1950-1960-yillarda mijozlar mashinalarni toʻgʻridan-toʻgʻri zavoddan xarid qila boshlashdi[28]. Maranellodan chiqqan har bir Ferrari individual mijozning buyurtmasiga muvofiq ishlab chiqariladi. Shu maʼnoda, har bir avtomobil maʼlum bir mijoz istagining oʻziga xos natijasidir.
        
        Ferrari bu kontseptsiyani oʻzining oldingi Carrozzeria Scaglietti dasturi bilan rasmiylashtirdi. Bu yerda taklif qilingan variantlar poyga oʻrindiqlari, orqa koʻrinish kameralari va boshqa maxsus bezaklar kabi odatiy edi. 2011-yil oxirida Ferrari ushbu falsafaning muhim yangilanishini eʼlon qildi. Tailor Made dasturi mijozlarga jarayonning har bir bosqichida qaror qabul qilish uchun Maranellodagi dizaynerlar bilan ishlash imkonini beradi. Ushbu dastur orqali deyarli har qanday bezak, har qanday tashqi rang yoki har qanday ichki material mijozning istagiga binoan boʻladi. Dastur asl anʼanani davom ettiradi va har bir avtomobilning oʻziga xosligi gʻoyasini taʼkidlaydi[29].
        
        Superkarlar
        
        Enzo Ferrari
        1984-yil 288 GTO Ferrari superkarlari qatorida birinchisi hisoblanadi. Bu nasl Enzo Ferrari orqali LaFerrarigacha choʻziladi. 2019-yil fevral oyida 89-Jeneva xalqaro avtosalonida Ferrari oʻzining soʻnggi oʻrta dvigatelli V8 superkari F8 Tributoni namoyish qildi[30].
        
        Ferrari SF90 Stradale PHEV (Plug-in Hybrid Electric Vehicle) arxitekturasiga ega boʻlgan birinchi Ferrari boʻlib, unda ichki yonuv dvigateli uchta elektr motor bilan birlashtirilgan, ulardan ikkitasi mustaqil va old oʻqda, uchinchisi esa old aksda joylashgan[31].
        
        Ferrari maxsus loyihalari
        "Maxsus loyihalar" dasturi 2000-yillarning oxirida Ferrari kompaniyasining shaxsiylashtirish xizmati sifatida ishga tushirilgan boʻlib, mijozlarga zamonaviy Ferrari yoʻl avtomobillari asosida tayyorlangan bir martalik shaxsiy avtomobillarga ega boʻlish imkonini beradi[32].  Muhandislik va dizayn Ferrari tomonidan, baʼzan Pininfarina yoki Fioravanti kabi tashqi dizayn uylari bilan hamkorlikda amalga oshiriladi va transport vositalari yoʻl qonuniyligi uchun toʻliq javobgarlikni oladi[33].
        
        Ushbu dastur doirasida yakunlangan birinchi avtomobil 2008-yilda yapon biznesi rahbari tomonidan buyurtma qilingan SP1, ikkinchisi esa amerikalik kollektor tomonidan buyurtma qilingan P540 Superfast Aperta edi.  Quyida ommaga eʼlon qilingan Maxsus loyihalar avtomobillari roʻyxati keltirilgan:
        
        Nomi	Rasm	Yil	Buyurtmachi
        SP1	
        
        2008-yil	Junichiro Hiramatsu[34]
        P540 Superfast Aperta	
        
        2009-yil	Edvard Uolson[35]
        Superamerika 45		2011-yil	Piter Kalikov[36]
        SP12 EC	
        
        2012-yil	Erik Klapton[37]
        SP30	
        
        2013-yil	Cheerag Arya[38]
        SP FFX	
        
        2014-yil	Shin Okamoto[39]
        Ferrari F12 TRS	
        
        2014-yil	
        Ferrari SP Amerika	
        
        2014-yil	Denni Vegman[40]
        Ferrari 458 MM Speciale	
        
        2016-yil	
        SP275 RW Competizione	
        
        2016-yil	Rik Uorman[41]
        Ferrari J50	
        
        2017-yil	
        SP38	
        
        2018-yil	
        Ferrari SP3JC	
        
        2018-yil	Jon Kollinz[42]
        P80/C	
        
        2019-yil	
        Ferrari Omologata	
        
        2020-yil	
        Bio-yoqilgʻi va gibrid avtomobillar
        Etanolda ishlaydigan F430 Spider 2008-yilgi Detroit avtosalonida namoyish etildi. 2010-yilgi Jeneva avtosalonida Ferrari oʻzining 599 flagmani gibrid versiyasini taqdim etdi. „HY-KERS kontseptsiyasi“ deb nomlanuvchi Ferrari gibrid tizimi 599 Fioranoning 612 ot kuchiga 100 ot kuchidan koʻproq quvvat qoʻshadi.  Shuningdek, 2014-yil oʻrtalarida flagmani LaFerrari ishlab chiqarishga chiqarildi.
        
        Nomlash qoidalari
        Ferrari nomlash konventsiyasi boshidanoq vosita silindrining uch xonali bir xil almashinishidan iborat boʻlib, avtomobilning maqsadini bildiruvchi qoʻshimchaga ega edi. Shuning uchun Ferrari 125 S 1,5 L (1496,77 cc) V12 dvigateliga ega boʻlib, unitar sigʻimi 124,73 kubometr. S- qoʻshimchasi esa Sportni ifodalaydi. Boshqa poyga avtomobillari ham Mille Miglia uchun Ferrari 166 MM kabi maxsus poygalarni anglatuvchi nomlarni oldi. Yoʻlda harakatlanuvchi modellar kiritilishi bilan Igor Troubetzkoyning Scuderia Inter poyga jamoasidan ilhomlangan Inter qoʻshimchasi qoʻshildi. Oʻsha paytda mashhur boʻlgan 166 seriyali 2,0 L (1995,02 cc) dvigatellari 166,25 kubometr sigʻimli va juda xilma-xil 250 m
        3
        {\displaystyle ^{3}} boʻlgan dvigatellarga ega edi. Seriyaning umumiy hajmi 3,0 L (2953,21 cc) va unitar 246,10 kubometrga ega edi. Keyinchalik yoʻl avtomobillari seriyasi Yevropa deb nomlandi va Amerika va Superamerica seriyasining eng yaxshisi boʻldi.
        
        1990-yillarning boshlariga qadar Ferrari dvigatelning oʻzgarishi va bir qator silindrlarga asoslangan uchta raqamli nomlash sxemasiga amal qildi :
        
        V6 va V8 modellarida dastlabki ikki raqam uchun umumiy joy almashinuvi (desilitrda) va uchinchi raqam sifatida silindrlar soni ishlatilgan. Shunday qilib, 206 2,0 L V6 quvvatli avtomobil edi, 348 esa 3,4 L V8 dan foydalangan boʻlsa-da, F355 uchun oxirgi raqam silindr boshiga 5 klapanni bildiradi. 360 Modena taqdim etilgandan soʻng , V8 modellari uchun raqamlar (hozirda nom va raqam mavjud) faqat dvigatelning umumiy hajmini anglatadi. Ushbu nomning raqamli koʻrsatkichi F430 ga oʻtkazildi. F430 ning oʻrnini bosuvchi 458 Italia , 206 va 348 bilan bir xil nomlashdan foydalanadi. 488 ilgari V12 avtomobillari tomonidan ishlatilgan tizimdan foydalanadi.
        
        Berlinetta Boxer 365 GT4 BB
        V12 modellarida bitta silindrning siljishi (kub santimetrda) ishlatilgan. Shunday qilib, mashhur 365 Daytona 4390 kubometr (268 kub dyuym) V12 ga ega edi. Biroq, 599 kabi baʼzi yangi V12 dvigatelli Ferrarilar uch raqamli belgilarga ega boʻlib, ular faqat dvigatelning umumiy hajmini yoki [nominal] olti litrli V12 612 kabi bokschi uslubidagi belgilarni bildiradi.
        Yassi 12 modellarida birinchi raqam uchun litrdagi joy almashinuvi va keyingi ikki raqam uchun silindrlar soni ishlatilgan. Shuning uchun, 512 BB besh litrli tekis 12 (bu holda Berlinetta Boxer) edi. Biroq, original Berlinetta Boxer 365 GT4 BB boʻlib, u V12 modellariga oʻxshash tarzda nomlangan.
        Flagman modellari (aka „halo avtomobillar“) F40 va F50 kabi yillarda F harfidan keyin yubileydan foydalanadi. Enzo bu qoidani oʻtkazib yubordi, garchi F60 nomi Ferrari Formula 1 avtomobiliga qoʻllangan va baʼzan Enzoga biriktirilgan.
        1980 Mondial va 1984 Testarossa kabi baʼzi modellar uch raqamdan iborat nomlash sxemasiga amal qilmagan.
        Aksariyat Ferrariga ularning tana uslubiga tegishli belgilar ham berilgan. Umuman olganda, quyidagi konventsiyalardan foydalanilgan:
        
        Model raqamining oxirida joylashgan M („Modificata“) toʻliq evolyutsiyani emas, balki avvalgisining oʻzgartirilgan versiyasini bildiradi (qarang: F512 M va 575 M Maranello).
        GTB („Gran Turismo Berlinetta“) modellari yopiq Berlinettalar yoki kupelardir.
        GTS („Gran Turismo Scoperta“) bu qoʻshimchani eski Spiderlarda yoki konvertorlarda koʻrish mumkin (365 GTS/4 ga qarang). Endi konvertatsiya qilinadigan modellar „Spider“ qoʻshimchasidan foydalanadi (F355 Spider va 360 Spider). Eng soʻnggi modellarda bu qoʻshimcha top modellari uchun ishlatiladi (Dino 246 GTS va F355 GTS), bu qoʻshimchaning mutlaqo toʻgʻri ishlatilishi, chunki „scoperta“ „ochilgan“ degan maʼnoni anglatadi. Koʻproq odamlar GTSni „Gran Turismo Spyder“ deb atashadi, bu esa Ferrari „spyder“ va „targa“ oʻrtasidagi farqni bilmaydi, degan notoʻgʻri taxminni keltirib chiqaradi, boshqacha nomlangan yagona targa istisno hisoblanadi.
        
        Ferrari F355
        Model raqamining oxirida joylashgan GTO („Gran Turismo Omologata“) avvalgisining oʻzgartirilgan versiyasini bildiradi. Bu koʻchada qonuniy boʻlgan holda poygadan foydalanish uchun moʻljallangan va takomillashtirilgan modelni belgilaydi. Faqat uchta modelda ushbu uchta harf mavjud: 1962-yil 250 GTO, 1984-yil 288 GTO va 2010-yil 599 GTO.
        Ushbu nomlash tizimi chalkash boʻlishi mumkin, chunki baʼzi butunlay boshqa transport vositalari bir xil dvigatel turi va kuzov uslubidan foydalangan. Koʻpgina Ferrarilarda, shuningdek, ularni aniqlash uchun boshqa nomlar (masalan, Daytona) qoʻyilgan. Koʻpgina bunday nomlar aslida rasmiy zavod nomlari emas. Daytona nomi Ferrarining 1967-yil fevralida 24 soatlik Daytona 330 P4 bilan uch karra muvaffaqiyatini anglatadi[43].  Faqat 19730-yildagi Daytona 24 soatlik musobaqasida NART tomonidan boshqariladigan 365 GTB/4 Porsche 911 dan keyin ikkinchi boʻldi[44].
        
        Turli xil Dino modellari Enzoning oʻgʻli Dino Ferrari sharafiga nomlangan va Ferrari tomonidan Dinos sifatida sotilgan.
        
        1990-yillarning oʻrtalarida Ferrari barcha modellarning boshiga „F“ harfini qoʻshdi (bu amaliyot F512 M va F355 dan keyin tark etilgan, lekin F430 bilan yana qabul qilingan, ammo uning vorisi Ferrari 458 bilan emas).
        
        Identifikatsiya
        Ferrari poyga jamoasining mashhur ramzi bu sariq qalqondagi qora, odatda SF harflari bilan (Scuderia Ferrari uchun), yashil, oq va qizil rangli uchta chiziqli (Italiya bayrogʻi) Kavallino Rampante qora aygʻirdir. Yoʻl avtomobillarining kapotida toʻrtburchak nishoni va ixtiyoriy ravishda eshikka yaqin ikkala old qanotning yon tomonlarida qalqon shaklidagi poyga logotipi mavjud.
        
        1923-yil 17-iyunda Enzo Ferrari Savio trassasida gʻolib chiqdi. 1923-yil 17-iyun kuni Enzo Ferrari Ravennadagi u yerda Italiya havo kuchlari ofitseri , Birinchi jahon urushi milliy qahramoni, graf Franchesko Barakaning onasi grafinya Paolina bilan uchrashdi. Grafinya Enzodan bu otni oʻz mashinalarida ishlatishni soʻradi va bu unga omad keltirishini aytdi. Barakka samolyotidagi asl „chop etuvchi ot“ oq bulutga oʻxshash shaklda qizil rangga boʻyalgan, biroq Ferrari otni qora rangga boʻyashni tanladi (uchuvchi halok boʻlganidan keyin Barakka eskadroni samolyotlarida qaygʻu belgisi sifatida boʻyalgan edi) va u kanareyka sariq qoʻshdi, chunki bu uning tugʻilgan joyi Modena shahrining rangi. Ferrari oti boshidanoq Barakka otidan koʻp tafsilotlarda sezilarli darajada farq qilar edi, eng koʻzga koʻrinadigani Barakkaning asl nusxasida pastga qaragan dumidir.
        
        Ferrari dan foydalangan 1929-yildan beri kompaniyaning rasmiy ish yuritish buyumlarida cavallino rampante ishlatib keladi. 1932-yil 9-iyuldagi Spa 24 Hoursdan boshlab, kavallino rampante Scuderia Ferrari poygasidagi Alfa Romeosda qoʻllanila boshlandi.
        
        Urgan otning naqshini qadimgi tangalarda uchratish mumkin. Sariq qalqondagi xuddi shunday qora ot 1930-yillarda Alfa va Ferrarining asosiy raqobatchilari boʻlgan Mercedes -Benz va Porsche konstruktorlik byurosi boʻlgan Germaniyaning Shtutgart shahrining gerbidir. Shahar nomi nemischa Gestüt soʻzining qadimgi shakli boʻlgan Stutengarten soʻzidan kelib chiqqan boʻlib, u ingliz tiliga ot fermasi va italyanchaga Rössle deb tarjima qilinadi. Porsche, shuningdek, Shtutgart belgisini oʻzining korporativ logotipini oʻz ichiga oladi, uning markazida Vyurtemberg shtatining emblemasi joylashgan. Shtutgart ikkala orqa oyogʻi Barakkaning oti kabi tuproqqa mahkam oʻrnashgan, ammo Ferrarining kavallinosidan farqli oʻlaroq.
        
        Fabio Taglioni oʻzining Ducati mototsikllarida cavallino rampantedan foydalangan, chunki Taglioni Barakka singari Lugo Di Romagna shahrida tugʻilgan va uning otasi ham Birinchi Jahon urushi paytida harbiy uchuvchi boʻlgan (garchi baʼzida notoʻgʻri xabar qilinganidek, Barakka eskadroni tarkibiga kirmagan boʻlsa ham). Ferrari shon-shuhrati oshgani sayin, Dukati otdan voz kechdi — bu ikki kompaniya oʻrtasidagi shaxsiy kelishuv natijasidir.
        
        Kavallino rampante Ferrari-ning vizual ramzidir. Cavallino jurnali logotipdan emas, balki nomdan foydalanadi. Boshqa kompaniyalar shunga oʻxshash logotiplardan foydalanadilar: 100 dan ortiq yoqilgʻi quyish shoxobchalarida faoliyat yurituvchi Avstriyaning Avanti kompaniyasi Iron Horse Bicycles va Norfolk Southern Railway kabi Ferrari logotipi bilan deyarli bir xil boʻlgan ot logotipidan foydalanadi.
        
        Rang
        1920-yillardan boshlab Alfa Romeo , Maserati va keyinchalik Ferrari va Abarthning italyan poyga avtomobillari „poyga qizil“ (Rosso Corsa) bilan boʻyalgan (va koʻpincha hali ham shunday). Bu Italiyaning odatiy milliy poyga rangi boʻlib, keyinchalik FIAga aylanadigan tashkilotlar tomonidan Jahon urushlari oʻrtasida tavsiya etilgan. Bu avtomobil ishlab chiqaruvchisi yoki haydovchining emas, raqobatchi jamoaning millatiga ishora qiladi. Ushbu sxema boʻyicha Bugatti kabi fransuz avtomobillari koʻk, Auto Union va Mercedes kabi nemislar oq (1934-yildan beri ham yalangʻoch metall kumush) edi. 1960-yillarning oʻrtalarida Lotus va BRM kabilar yashil ranglardan foydalanishgan.
        
        Ferrari 1964-yilda Jon Surtees bilan jahon chempionatida Shimoliy Amerikadagi soʻnggi ikki poygada AQSh-Amerika poygasida oq va koʻk rangga boʻyalgan avtomobillar bilan gʻalaba qozondi, chunki ularni Italiya zavodining oʻzi emas, balki AQShda joylashgan avtomobillar kiritgan. Shimoliy Amerika Racing Team (NART) jamoasi. Bu Ferrari va Italiya poyga idoralari oʻrtasidagi yangi oʻrta dvigatelli Ferrari poyga avtomobilining homologatsiyasi boʻyicha tortishuvlarga norozilik sifatida amalga oshirildi.
        
        Korporativ ishlar
        1963-yilda Ford Motor kompaniyasi Enzo Ferrarini sotib olish toʻgʻrisida murojaat qildi[45].  Ford Ferrari aktivlarini tekshirdi, biroq u Ford tomonidan taklif qilingan kelishuv unga kompaniya poyga dasturining boshida qolishga imkon bermasligini anglab yetgach, huquqiy muzokaralar va muzokaralar Ferrari tomonidan bir tomonlama toʻxtatildi. Natijada Genri Ford II oʻzining poyga boʻlinmasini Lotus , Lola va Kuper bilan jahon chidamlilik pallasida Ferrarini magʻlub eta oladigan mashina yaratish uchun muzokaralar olib borishni buyurdi va natijada 1964-yilda Ford GT40 ishlab chiqarildi.
        
        Ford bitimi barbod boʻlgach, FIAT Ferrariga yanada moslashuvchan taklif bilan murojaat qildi va 1969-yilda kompaniyaning nazorat paketlarini sotib oldi. Enzo Ferrari hozirda uning oʻgʻli Piero Lardi Ferrariga tegishli boʻlgan 10% ulushini saqlab qoldi.
        
        Ferrari kompaniyasi Ferrari brendiga ega boʻlgan koʻplab mahsulotlar, jumladan, koʻzoynaklar, ruchkalar, qalamlar, elektron mahsulotlar, parfyumeriya, odekolon, kiyim-kechak, yuqori texnologiyali velosipedlar, soatlar, uyali telefonlar va noutbuklar uchun litsenziyalanadigan ichki boshqariladigan savdo liniyasiga ega.
        
        Ferrari shuningdek, Maranello shahridagi muzey Ferrari muzeyiga ega boʻlib, unda yoʻl va poyga avtomobillari va kompaniya tarixiga oid boshqa buyumlar namoyish etiladi.
        
        Formula Uomo dasturi
        997 -ilda Ferrari umumiy korporativ samaradorlikni, ishlab chiqarishni va xodimlarning baxtini yaxshilash uchun uzoq muddatli rejali say-harakatlarni boshladi. Dastur „Formula Uomo“ deb nomlandi va ijtimoiy barqarorlik boʻyicha amaliy tadqiqotga aylandi[46].  Toʻliq amalga oshirish uchun oʻn yildan koʻproq vaqt kerak boʻldi va 200 million yevrodan ortiq sarmoya kiritildi[47].
        
        Texnik hamkorlik
        Ferrari Shell Oil bilan uzoq yillik munosabatlarga ega. Bu Ferrari va Ducati bilan Formula 1, MotoGP va World Superbike poyga jamoalarini sinovdan oʻtkazish, shuningdek yoqilgʻi va moylarni yetkazib berish uchun texnik hamkorlikdir. Masalan, Shell V-Power premium benzin yoqilgʻisi Shell va Ferrari oʻrtasidagi koʻp yillik texnik tajriba asosida ishlab chiqilgan[48].
        
        Ferrari yillar davomida bir qator boshqa jamoalarga Formula 1 dvigatellarini yetkazib berish boʻyicha kelishuvlarga erishgan va hozirda Alfa Romeo va Haas F1 jamoalarini yetkazib beradi.
        
        Doʻkonlar
        Dunyo boʻylab oʻttizga yaqin Ferrari doʻkonlari mavjud boʻlib, ulardan ikkitasi Ferrariga tegishli, qolganlari esa franchayzing sifatida ishlaydi. Doʻkonlarda brend kiyimlari,  aksessuarlar va poyga esdaliklari sotiladi. Kiyimlar yuqori darajadagi va arzonroq toʻplamlarni oʻz ichiga oladi Kiyimlar erkaklar, ayollar va bolalar uchun.
        
        Baʼzi doʻkonlar oʻyin-kulgi uchun poyga avtomobillarini simulyatsiya qilish oʻyinlarini oʻz ichiga oladi.
        
        Diqqatga sazovor joylar
        Hozirda dunyoda ikkita Ferrari mavzusidagi koʻngilochar bogʻlar mavjud.
        
        Ferrari World Abu Dabi
        2010-yilda ochilgan Ferrari World Abu Dhabi dunyodagi birinchi Ferrari brendi ostidagi mavzu parki boʻlib, 37 ta attraksionlarga ega. Abu-Dabidagi Yas orolida joylashgan boʻlib, u dunyodagi eng tez rolikli koster — Formula Rossa va dunyodagi eng baland halqalardan biri — Flying Aces bilan dinamik qirgʻoqqa ega.
        
        PortAventuradagi Ferrari Land
        2017-yilda ochilgan PortAventura World kurortidagi Ferrari Land, Ferrari World Abu Dabidan keyin dunyodagi ikkinchi Ferrari mavzusidagi oʻyin parkidir. 16 ta attraksionlar bilan u Yevropaning eng tez va eng baland vertikal tezlatgichi — Red Force joylashgan.
        
        Yana qarang
        Ferrari avtomobillari ro'yxati
        Ferrari dvigatellari ro'yxati
        Ferrari raqobat avtomobillari ro'yxati
        Ferrari dvigatellari ro'yxati
        Scuderia Ferrari
        Avtomobil markalari ro'yxati
        Italiya kompaniyalari ro'yxati
        Manbalar
         (unspecified title)
         „Fiat 2013-yillik hisoboti“
         „FCA boshqaruv kengashi Ferrari SpA-ni aylantirish niyatini eʼlon qildi“
         „Uoll-strit, bogʻlang! Ferrari IPO uchun rasman ariza berdi“
         The Wall Street Journal
         „Questions and answers regarding the Ferrari spin-off“
         „Ferrari“
         https://en.wikipedia.org/wiki/Ferrari#cite_note-12
         „Ferrari — dunyodagi eng kuchli brend“
         https://en.wikipedia.org/wiki/Ferrari#cite_note-Hemmings-20180605-15
         „Ferrari GTO 35 million dollarga eng qimmat avtomobilga aylandi“
         „Bozor kapitallashuvi boʻyicha eng yirik avtomobil ishlab chiqaruvchilari“
         „Enzo Ferrari tarixi“
         „Enzo Ferrari tarixi“
         "Enzo Ferrari tarixi". auto.ferrari.com. 2016-yil 29-mayda asl nusxadan arxivlangan.
         „Ferrari tarixi DK Engineering“
         "Enzo Ferrari tarixi". auto.ferrari.com. 2016-yil 29-mayda asl nusxadan arxivlangan.
         „Ferrari S.p. A. History“
         „Ferrari SpA tarixi“
         „„Felipe Massa and Marc Gene lead a record breaking parade of Ferraris at Silverstone““. 2012-yil 19-sentyabrda asl nusxadan arxivlangan. Qaraldi: 2022-yil 26-may.
         „Ferrari picks Louis Camilleri as CEO, Elkann as chairman“
         Ferrari
         „Ferrari IPO narxlari ulushiga $52, diapazonda“
         „Ferrari CEO Camilleri announces shock retirement with immediate effect“
         „Texnik boshqaruvchi oʻzining birinchi EV-ni rejalashtirayotgani uchun Ferrari-ning yangi bosh direktori etib tayinlandi“
         https://en.wikipedia.org/wiki/Ferrari#cite_note-28
         „Ferrari’s A1GP Deal“
         „Ferrari-takliflar-moslashtirilgan-dastur“
         Lingeman, Jeyk (2011-yil 5-dekabr). „Ferrari-takliflar-moslashtirilgan-dastur“. Avtomobil haftaligi. 2018-yil 12-avgustda asl nusxadan arxivlangan
         „The Ferrari F8 Tributo“
         „Ferrari’s first production plug-in hybrid is its fastest supercar yet“
         „Ferrari P540 Superfast Aperta revealed, second from Special Projects program“
         Neff, Jon (2009-yil 11-dekabr). „Ferrari P540 Superfast Aperta maxsus loyihalar dasturidan ikkinchisi paydo boʻldi“. autoblog.com. 2014-yil 14-dekabrda asl nusxadan arxivlangan
         Archived
         „"Ferrari P540 Superfast Aperta: A One-Off Based on a One-Off"“. 2014-yil 14-dekabrda asl nusxadan arxivlangan. Qaraldi: 2022-yil 28-may.
         „Ferrari Superamerica 45: One-off 599 created for wealthy American customer“
         „Ferrari and Pininfarina finish Claptonʼs customized 512BB homage“
         „Ferrari SP Arya one-off in the works“
         „Yaponiya yigʻilishi ikkita bir martalik modelga ega“
         „One-off 2015 Ferrari F12 SP America snapped in public“
         „Full details on the one-off SP 275 RW Competizione“
         „Ferrari SP3JC one-off channels vintage roadsters with a color-wheel twist“
         „World Championship 1967“
         „World Championship 1973“
         „Ford GT“
         „Ferrari Formula Uomo farovonlik dasturi“
         „„Ferrari Kaliforniya yangi liniyada ishlab chiqarishni boshladi““. 2015-yil 31-yanvarda asl nusxadan arxivlangan. Qaraldi: 2022-yil 28-may.
         „Ferrari va Shell V-Power“</h3>
</body>
</html>