<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>BMW 3 Series Touring (wagon) modeli haqida qisqacha ma'lumot:

        Dizayn va qulaylik: Ushbu model sportivlik va funksionallikni birlashtiradi. U keng yukxona va zamonaviy texnologiyalar bilan jihozlangan bo'lib, oilaviy sayohatlar uchun juda mos keladi.
        
        Dvigatellar: BMW TwinPower Turbo texnologiyasiga ega benzin va dizel dvigatellari bilan ta'minlangan. Bu dvigatellar yuqori dinamikani ta'minlaydi va yonilg'i sarfini kamaytiradi.
        
        Texnologiyalar: Innovatsion funksiyalar, masalan, BMW xDrive to'liq g'ildirakli haydovchi tizimi, har qanday yo'l sharoitida qulaylikni ta'minlaydi.
        
        Tarix: BMW 3 Series Touring birinchi marta 1987-yilda taqdim etilgan va o'shandan beri bir necha avlodlar orqali takomillashtirilgan.</h3>
</body>
</html>